/* COLOR VARIABLES */
:root{
    --red-color: red;
    --white-color: white;
    --blue-color: blue;
    --green-color: green;
    --black-color: black;
    --purple-color: purple;
    --yellow-color: yellow;
    --orange-color: orange;
    --grey-color: grey;
    --light-grey-color: lightgrey;
    --light-blue-color: lightblue;
    --pink-color: pink;
    --brown-color: brown;

}

/* GENERAL STYLES */
body{margin: 0;padding: 0;font-size: 16px;font-family: 'Nunito';width: 100vw;height: 100vh;overflow: hidden;}
*{box-sizing: border-box;}
img{max-width: 100%;}

/* CONTAINER */
.container{max-width: 1280px;margin: auto;}

/* WIDTH CLASSES */
.w-100{width: 100%}
.w-75{width: 75%}
.w-50{width: 50%}
.w-33{width: 33%}
.w-25{width: 25%}

.vw-100{width: 100vw}
.vw-75{width: 75vw}
.vw-50{width: 50vw}
.vw-25{width: 25vw}

/* HEIGHT CLASSES */
.vh-100{height: 100vh}
.vh-75{height: 75vh}
.vh-50{height: 50vh}
.vh-25{height: 25vh}

/* MARGIN CLASSES*/
.mr-10{margin-right: 10px}
.mr-20{margin-right: 20px}
.mt-10{margin-top: 10px}
.mt-20{margin-top: 20px}
.mb-10{margin-bottom: 10px}
.mb-20{margin-bottom: 20px}
.ml-10{margin-left: 10px}
.ml-20{margin-left: 20px}
.m-10{margin: 10px}
.m-20{margin: 20px}
.m-auto{margin: auto}
.m-none{margin: 0}

/* PADDING CLASSES */
.pr-10{padding-right: 10px}
.pr-20{padding-right: 20px}
.pt-10{padding-top: 10px}
.pt-20{padding-top: 20px}
.pb-10{padding-bottom: 10px}
.pb-10{padding-bottom: 20px}
.pl-10{padding-left: 10px}
.pl-20{padding-left: 20px}
.p-10{padding: 10px}
.p-20{padding: 20px}

/* FONT SIZE CLASSES */
.font-1{font-size: 1em}
.font-1_2{font-size: 1.2em}
.font-1_4{font-size: 1.4em}
.font-1_6{font-size: 1.6em}
.font-1_8{font-size: 1.8em}
.font-2{font-size: 2em}
.font-2_5{font-size: 2.5em}
.font-3{font-size: 3em}
.font-3_5{font-size: 3.5em}
.font-4{font-size: 4em}


/* FLEX CLASSES */
.flex{display: flex;}
.inline-flex{display: inline-flex;}
.flex-row{flex-direction: row;}
.flex-column{flex-direction: column;}
.v-center{align-items: center;}
.v-spacebetween{align-items: space-between;}
.v-spacearound{align-items: space-around;}
.v-start{align-items: flex-start;}
.v-end{align-items: flex-start;}
.h-center{justify-content: center;}
.h-spacebetween{justify-content: space-between;}
.h-spacearound{justify-content: space-around;}
.h-start{justify-content: flex-start;}
.h-end{justify-content: flex-start;}

/* TEXT ALIGN CLASSES */
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}

.btn {
    font-size: 2em;
    color: #fff;
    background: #ae3758;
    padding: 12px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}


/* WELCOME SECTION */
.welcome.section{ background: var(--light-grey-color) url('../images/welcome.jpg') no-repeat center / cover fixed;overflow: hidden; position: absolute;transition: 0.5s ease all;}
.welcome.section .content{transform: translateY(-130px);}
.welcome.section .content h3{position: relative;}
.welcome.section .content h1{text-shadow: 0px -6px 0px #fff, 0px 6px 0 #fff, 0 0 0 #fff;color: #3d2149;position: relative;}

section.finger-print{position: absolute;left: -100vw;background: #fff }
section.face_recog{position: absolute;left: -100vw;background: #fff}
section.who_you_are{position: absolute;left: -100vw;background: #fff url('../images/who-u-r-bg.jpg') no-repeat bottom right / cover;}
section.face_capture{position: absolute;left: -100vw;background: #fff}
section.finger-capture{position: absolute;left: -100vw;background: #fff;z-index: 99999;}

section.employee_details{position: absolute;right: -100vw;background: #fff000;}
section.visitor-form{position: absolute;left: -100vw;background: #e8e8e8;z-index: 999999;}

.welcome.section .animate-top{
    transform: translateY(0);
    animation-name: slideTop;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);
}

.welcome.section .animate-bottom{
    transform: translateY(0);
    animation-name: slideBottom;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);        
}

.welcome.section .animate-left{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    
}

.who_you_are.section .animate-top{
    transform: translateY(0);
    animation-name: slideTop;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);
    animation-delay: 5.3s;
}

.who_you_are.section .animate-bottom{
    transform: translateY(0);
    animation-name: slideBottom;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);        
    animation-delay: 5.3s;
}

.who_you_are.section .animate-left{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 5.3s;
    
}

.who_you_are.section .animate-right{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideRight;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 5.3s;
    
}

.visitor-form.section .animate-top{
    transform: translateY(0);
    animation-name: slideTop;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);
    animation-delay: 5.3s;
}

.visitor-form.section .animate-bottom{
    transform: translateY(0);
    animation-name: slideBottom;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);        
    animation-delay: 5.3s;
}

.visitor-form.section .animate-left{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 5.3s;
    
}

.finger-capture.section .animate-top{
    transform: translateY(0);
    animation-name: slideTop;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);
    animation-delay: 5.3s;
}

.finger-capture.section .animate-bottom{
    transform: translateY(0);
    animation-name: slideBottom;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);        
    animation-delay: 5.3s;
}

.finger-capture.section .animate-left{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 5.3s;
    
}

.face_capture.section .animate-top{
    transform: translateY(0);
    animation-name: slideTop;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);
    animation-delay: 5.3s;
}

.face_capture.section .animate-bottom{
    transform: translateY(0);
    animation-name: slideBottom;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);        
    animation-delay: 5.3s;
}

.face_capture.section .animate-left{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 5.3s;
    
}

.face_recog.section .animate-top{
    transform: translateY(0);
    animation-name: slideTop;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);
    animation-delay: 1s;
}

.face_recog.section .animate-bottom{
    transform: translateY(0);
    animation-name: slideBottom;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);        
    animation-delay: 1s;
}

.face_recog.section .animate-left{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 5.3s;
    
}

.face_recog.section .animate-right{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideRight;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 7.5s;
    
}

.finger-print.section .animate-top{
    transform: translateY(0);
    animation-name: slideTop;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);
    animation-delay: 5.3s;
}

.finger-print.section .animate-bottom{
    transform: translateY(0);
    animation-name: slideBottom;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);        
    animation-delay: 5.3s;
}

.finger-print.section .animate-left{
    transform: translateX(0);
    transition: 2s ease all;
    animation-name: slideLeft;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.45);    
    animation-delay: 5.3s;
    
}



.popUp {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    transition: 1s ease all
}

.popUp.active{
    z-index: 9;
}

.popUpOverlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 0.3);
    opacity: 0;
    transition: 1s ease all
}

.popUp.active .popUpOverlay{opacity: 1;}

.popUpWrapper {position: absolute;width: 350px;height: 500px;background: #fff;top: -200px;right: 0;bottom: 0;left: 0;margin: auto;border-radius: 10px;padding: 20px;display: flex;flex-direction: column;box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 0.4);opacity: 0;transition: 1s ease all;}

.popUp.active .popUpWrapper{opacity: 1;top: 0;}

.popUpImage {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpContent {
    width: 100%;
    height: 30%;
    text-align: center;
}

.popUpContent h3 {
    margin: 0;
    font-size: 26px;
    line-height: 1.6;
    color: #000;
}


.form_row {
    display: flex;
    margin-bottom: 30px;
}

.form_field {
    width: 50%;
    margin-right: 50px;
}

.form_field label {
    display: block;
}

.form_field input[type="text"], .form_field input[type="email"], .form_field input[type="tel"], .form_field textarea, .form_field select {
    width: 100%;
    padding: 10px 15px;
    resize: none;
    border: none;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
    outline: none;
}

.submit_field input[type='submit'] {
    padding: 13px 30px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: #000;
    background: #ff5f5f;
    border-radius: 40px;
    cursor: pointer;
}

.submit_field {
    text-align: right;
    padding-right: 50px;
}


.who_you_are_wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;
}

.choose_option {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.5);
}

.choose_option a {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
}

.choose_option a img {
    max-width: 200px;
}

.choose_option a h4 {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.choose_option_divider {
    width: 6px;
    height: 100%;
    background: #00000075;
    border-radius: 40px;
}

#page-top .face_recog_content {
    width: 45%;
    position: absolute;    
    top: -100vh;
    bottom: 0;
    height: 100%;
    background: #fff url('../images/pattern-bg.jpg') no-repeat bottom / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    transform: translateX(0) skewX(-10deg);
    z-index: 999;
    left: 60px;
    flex-direction: column;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.45) top;
}

.face_recog_content h2{
    transform: skewX(10deg);
}

.face_recog_img {
    width: 55%;
    position: absolute;
    right: 0;
    top: 100vh;
    bottom: 0;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.45) top;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: skewX(10deg);
}

.btn_wrapper a {padding: 12px 40px;background: #000;font-size: 18px;text-decoration: none;color: #fff;font-weight: 700;margin: 0 15px;}


#page-top .finger_recog_content{
    left: auto;
    right: 60px;
    transform: scaleX(-1) skewX(10deg);
    z-index: 99999;
    width: 45%;
    position: absolute;
    top: -100vh;
    bottom: 0;
    height: 100%;
    background: #fff url(../images/pattern-bg.jpg) no-repeat bottom / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;        
    flex-direction: column;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.45) top;
}

#page-top .finger_recog_img {
    right: auto;
    left: 0;
    z-index: 9999;
    width: 55%;
    position: absolute;    
    top: 100vh;
    bottom: 0;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.45) top;
}

.finger_recog_content h2, .finger_recog_content .btn_wrapper{
    transform: scaleX(-1) skewX(10deg);
}

.visitor_Form_img {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000 url('../images/form.jpg') no-repeat center / cover;
}

.visitor_form_wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

form.form {
    width: 100%;
}

.thankyouSection{width: 100%;height: 100vh;overflow: hidden;background: #fff url('../images/thankyou.png') no-repeat center / cover;}

.thankyouContent {
    width: 768px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 200px;
    background: #0b335494;
    box-shadow: 5px 5px 30px 0 rgb(255 255 255 / 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thankyouContent h2 {
    font-size: 50px;
    color: #fff;
    margin: 0 0 20px;
}

.thankyouContent p {
    font-size: 20px;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    color: #fff;
}

@keyframes slideTop
{
    0%{transform: translateY(-100vh);opacity: 0;}
    90%{transform: translateY(50px);opacity: 1;}
    100%{transform: translateY(0);opacity: 1;}
}

@keyframes slideBottom
{
    0%{transform: translateY(100vh);opacity: 0;}
    90%{transform: translateY(-50px);opacity: 1;}
    100%{transform: translateY(0);opacity: 1;}
}

@keyframes slideLeft
{
    0%{transform: translateX(-100vw);opacity: 0;}
    90%{transform: translateX(50px);opacity: 1;}
    100%{transform: translateX(0);opacity: 1;}
}

@keyframes slideRight
{
    0%{transform: translateX(100vw);opacity: 0;}
    90%{transform: translateX(-50px);opacity: 1;}
    100%{transform: translateX(0);opacity: 1;}
}