{% extends '../templates/template.html' %}

{% block content %}
    
    <section class="vh-100 section welcome w-100 animate-section">
        <div class="container vh-100 flex v-center h-center">
            <div class="content vw-75 vh-50 m-auto flex v-center h-center flex-column text-center">
                <h3 class="font-1_6 m-10 animate-top">Welcome To</h3>
                <h1 class="font-4 m-10 animate-bottom">Face Recognition and Bio-metric Authentication System</h1>
                {% comment %} <a href="#" class="btn start-btn animate-left">Start</a> {% endcomment %}
            </div>
        </div>
    </section>

    <section class="vh-100 section finger-print w-100" >
        <div class="container vh-100 flex v-center h-start">
            <div class="content vw-50 vh-100 flex v-start h-center flex-column text-left">
                <h1 class="font-3 mb-10 animate-top">Bio-Metric Authentication</h1>
                <p class="font-1_6 mt-10 mb-20 animate-bottom">Press button to authenticate yourself!!</p>
                <a href="javascript:void(0)" class="btn finger-btn animate-left">Authenticate</a>
            </div>
        </div>
    </section>

    <section class="vh-100 section employee_details w-100">
        <div class="container vh-100 flex v-center h-center">
            <div class="content vw-50 vh-100 flex v-start h-center flex-column text-center">
                <h2 class="w-100 mb-20">Hi, <span id="employee_name">Ishraq</span></h2>
                <p class="w-100 m-none">Punch In Time</p>
                <h1 class="w-100 m-none font-4">9:00 AM</h1>
            </div>
        </div>
    </section>    

    <div class="popUp fingerPrintVerification">
        <div class="popUpOverlay"></div>
        <div class="popUpWrapper">
            <div class="popUpImage">
                <img src="{{ APPCONTROL_STATIC_ROOT }}images/fingerprint.gif" alt="Finger Print">
            </div>
            <div class="popUpContent">
                <h3>Place Your Finger To Authenticate!!</h3>
            </div>
        </div>
    </div>

{% endblock %}