<script src="{{ GENERAL_STATIC_ROOT }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ GENERAL_STATIC_ROOT }}vendor/animsition/js/animsition.min.js"></script>
<script src="{{ GENERAL_STATIC_ROOT }}vendor/bootstrap/js/popper.js"></script>
<script src="{{ GENERAL_STATIC_ROOT }}vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ GENERAL_STATIC_ROOT }}vendor/select2/select2.min.js"></script>
<script src="{{ GENERAL_STATIC_ROOT }}vendor/daterangepicker/moment.min.js"></script>
<script src="{{ GENERAL_STATIC_ROOT }}vendor/daterangepicker/daterangepicker.js"></script>
<script src="{{ GENERAL_STATIC_ROOT }}vendor/countdowntime/countdowntime.js"></script>
<script src="{{ APPCONTROL_STATIC_ROOT }}js/auth.js"></script>
</body>
</html>