{% extends '../template/template.html' %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55 animate_login">
                <form class="login100-form validate-form flex-sb flex-w" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-32">
                        Forget Password
                    </span>

                    <span class="txt1 p-b-11">
                        Email
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Email is required">
                        <input class="input100" type="email" name="email" value="{{ email }}">
                        <span class="focus-input100"></span>
                    </div>                    
                    
                    <div class="flex-sb-m w-full pb-4">                        
                        <div>
                            <a href="{% url 'login' %}" class="txt3">
                                Back To Login
                            </a>
                        </div>
                    </div>
                    {% if error is not None %}                        
                        <div class="w-full mb-3 text-center">
                            <p class="text-danger">{{ error }}</p>                       
                        </div>
                    {% endif %}
                    {% if sucess is not None %}                        
                        <div class="w-full mb-3 text-center">
                            <p class="text-sucess">{{ sucess }}</p>                       
                        </div>
                    {% endif %}                    
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>                                        
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
{% endblock %}