img{
    max-width: 100%;
}

.animate_login{
    opacity: 1;
    top: 0;
    animation-name: animate_form;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.collapse_btn {
    position: absolute;
    bottom: 30px;
    right: -20px;
    background-color: none;
}
ul#accordionSidebar {
    position: relative;
    transition: 0.5s ease all;
}
.sidebar-dark #sidebarToggle::after {
    color: rgb(48, 83, 200);
}
.sidebar-dark.toggled #sidebarToggle::after {
    color: rgb(44, 82, 197);
}
.sidebar-dark #sidebarToggle {
    background-color: rgba(255,255,255,1);
    border: 1px solid rgb(44, 82, 197);
}
.sidebar-dark #sidebarToggle:hover{
    background-color: rgb(44, 82, 197);;
}

.sidebar-dark #sidebarToggle:hover:after{
    color: #fff
}

body #wrapper .nav-item > div{
    margin: 0px !important;
    width: 100%
}

body #wrapper .nav-item > div .collapse-inner{
    border-radius: 0 !important;
}

body .custom-page-heading{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 13px;
}

#customFile .custom-file-input:after {
    content: "Select file...";
}
  
#customFile .custom-file-input:before {
    content: "Click me";
}
  
.custom-file-input.selected:after {
    content: "" !important;
}
  
.custom-file {
    overflow: hidden;
}

.custom-file-input {
    white-space: nowrap;
}

.custom-file-label{
    width: calc(100% - 24px);
    margin: auto;
}

.app_popup {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 0.15);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    transition: 0.5s ease all;
    opacity: 0;
    z-index: -1;
}

.app_popup h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
    line-height: 1.5;
}

.app_popup.active{
    opacity: 1;
    top: 0;
    z-index: 999;
}

.finger_print_success .fingerprint_image{
    height: 70%;

}

.finger_print_success .fingerprint_image img{    
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

p.fingerprint_success {
    margin-top: 2px;
    font-weight: 700;
    color: green;
    width: 173px;
    text-align: center;
}

@keyframes animate_form{
    from{opacity: 0; top: -60px}
    to{opacity: 1;top: 0;}
}