.animate_login{
    opacity: 1;
    top: 0;
    animation-name: animate_form;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.collapse_btn {
    position: absolute;
    bottom: 30px;
    right: -20px;
    background-color: none;
}
ul#accordionSidebar {
    position: relative;
    transition: 0.5s ease all;
}
.sidebar-dark #sidebarToggle::after {
    color: rgb(48, 83, 200);
}
.sidebar-dark.toggled #sidebarToggle::after {
    color: rgb(44, 82, 197);
}
.sidebar-dark #sidebarToggle {
    background-color: rgba(255,255,255,1);
    border: 1px solid rgb(44, 82, 197);
}
.sidebar-dark #sidebarToggle:hover{
    background-color: rgb(44, 82, 197);;
}

.sidebar-dark #sidebarToggle:hover:after{
    color: #fff
}

body #wrapper .nav-item > div{
    margin: 0px !important;
    width: 100%
}

body #wrapper .nav-item > div .collapse-inner{
    border-radius: 0 !important;
}

body .custom-page-heading{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 13px;
}

#customFile .custom-file-input:after {
    content: "Select file...";
}
  
#customFile .custom-file-input:before {
    content: "Click me";
}
  
.custom-file-input.selected:after {
    content: "" !important;
}
  
.custom-file {
    overflow: hidden;
}

.custom-file-input {
    white-space: nowrap;
}

.custom-file-label{
    width: calc(100% - 24px);
    margin: auto;
}

@keyframes animate_form{
    from{opacity: 0; top: -60px}
    to{opacity: 1;top: 0;}
}